*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: .5s;
}

body{
    background-color: black;
    overflow: hidden;
    height: 100vh;
}

.rain{
    position: absolute;
    top: 48%;
    left: 48%;
    background-color: transparent;
    color: rgb(107, 238, 220);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(107, 238, 220);
    z-index: 2;
    transition-duration: .2s;
}

.rain:hover{
    background-color: rgb(107, 238, 220);
    color: black;
}

.black{
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition-duration: 2s;
    z-index: 1;
}

i{
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: rain 5s linear infinite;
}

i:nth-child(3n+1){
    background: linear-gradient(transparent, rgb(107, 238, 220));
}

i:nth-child(3n+2){
    background: linear-gradient(transparent, rgb(77, 93, 235));
}

i:nth-child(3n+3){
    background: linear-gradient(transparent, rgb(60, 231, 140));
}

@keyframes rain{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(calc(100vh + 200px));
    }
}